.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    img{
        width: 60%;
        display: block;
        align-self: center;
        margin-bottom: 20px;
    }

}
.img-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
ion-button{
    --background: #f70090;
    color: #f0e5e5;
    width: 100%;
}
ion-item{
    --margin:15px 0;
}
.margin{
    margin: 15px;
}
.forgot{
    margin-top: 20px;
}
.footer{
    position: absolute;
    bottom: 0;
    span{
        color: #f70090;
        font-weight: 700;
    }
}