<link rel="stylesheet" href="designdesobrancelhas.page.scss">
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/procedimentos" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Procedimentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Design de Sobrancelhas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-img src="assets/images/designdesobrancelhas1.png" class="content-image"></ion-img>

  <ion-title class="page-title">Design de Sobrancelhas</ion-title>
  <br>
  <div class="text-container">
    <ion-text class="page-text">
      Realce o olhar e conquiste sobrancelhas perfeitas com o Design de Sobrancelhas. Essa técnica especializada permite modelar e definir as sobrancelhas de acordo com o formato do rosto, realçando a expressão facial. Além de proporcionar um olhar mais harmonioso, o Design de Sobrancelhas também ajuda a corrigir falhas, equilibrar o desenho e destacar a beleza natural. Confie em profissionais experientes e descubra o poder de um olhar bem desenhado. Eleve sua autoestima e conquiste sobrancelhas impecáveis!
    </ion-text>
  </div>

  <ion-img src="assets/images/designdesobrancelhas2.png" class="content-image"></ion-img>

</ion-content>
