<link rel="stylesheet" href="depilacao.page.scss">
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/procedimentos" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Procedimentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Depilação</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-img src="assets/images/depilacao1.png" class="content-image"></ion-img>

  <ion-title class="page-title">Depilação</ion-title>
  <br>
  <div class="text-container">
    <ion-text class="page-text">
      A depilação em cera é uma técnica eficiente e duradoura para se livrar dos pelos indesejados. Com a aplicação cuidadosa da cera quente ou morna, os pelos são removidos desde a raiz, resultando em uma pele suave e macia por semanas. A depilação em cera é uma ótima opção para diversas áreas do corpo, como pernas, axilas, virilha e rosto. Além de proporcionar uma pele livre de pelos, a depilação em cera também ajuda a afinar os pelos com o tempo, tornando o crescimento mais suave. Desfrute dos benefícios de uma pele livre de pelos com a depilação em cera e sinta-se confiante em todos os momentos!
    </ion-text>
  </div>

  <ion-img src="assets/images/depilacao2.png" class="content-image"></ion-img>

</ion-content>
