<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>
<ion-card>
  <img alt="Silhouette of mountains" src="../../../assets/espaco/recepcao2.jpg" />
  <ion-card-header>
    <ion-card-title>Sobre Estétic Center</ion-card-title>
    <ion-card-subtitle>somos uma equipe que pensa na sua saúde e bem
      estar</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
  Nosso propósito são adaptados ao cliente.
  Após uma avaliação nossa equipe planeja o melhor cuídado para vocÊ,
  ajudaremos a cuidar da sua autoestima


    <p>Veja outos diferenciais</p>
    <ion-item>Ambiente Acolhedor</ion-item>
    <ion-item>Conforto e bem estar</ion-item>
    <ion-item>Equipe Especializada</ion-item>
    <ion-item>Protocolos Individualizados</ion-item>
    <ion-item>Tratamento peronalizado</ion-item>

  </ion-card-content>
</ion-card>