<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="about-content">
  <div class="image-container">
    <img src="../../../assets/espaco/recepcao2.jpg" alt="Recepção Estetic Center" class="image">
  </div>
  <div class="title-container">
    <h2 class="title">Sobre Estetic Center</h2>
  </div>
  <div class="text-container">
    <p class="subtitle">SOMOS UMA EQUIPE QUE PENSA NA SUA SAÚDE E BEM ESTAR</p>
    <p>Nossos propósitos são adaptados ao cliente.</p>
    <p>Após uma avaliação nossa equipe planeja o melhor cuidado para você.</p>
    <p>Ajudaremos a cuidar da sua autoestima.</p>
    <p>Veja outros diferenciais:</p>
    <ul class="list">
      <li>Ambiente acolhedor</li>
      <li>Conforto e bem estar</li>
      <li>Equipe especializada</li>
      <li>Protocolos individualizados</li>
      <li>Tratamento personalizado</li>
    </ul>
  </div>
</ion-content>