<link rel="stylesheet" href="massagem.page.scss">
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/procedimentos" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Procedimentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Massagem</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-img src="assets/images/massagem1.png" class="content-image"></ion-img>

  <ion-title class="page-title">Massagem</ion-title>
  <br>
  <div class="text-container">
    <ion-text class="page-text">
      Relaxar o corpo e a mente é essencial nos dias agitados de hoje. A massagem é uma técnica terapêutica que proporciona alívio do estresse, relaxamento muscular e bem-estar geral. Benefícios incluem controle do estresse, diminuição da ansiedade, alívio das dores musculares, melhora da circulação sanguínea e elasticidade da pele, além de estimular o sistema intestinal e eliminar toxinas. Experimente uma sessão de massagem e sinta-se renovado!
    </ion-text>
  </div>

  <ion-img src="assets/images/massagem2.png" class="content-image"></ion-img>

</ion-content>

