
<ion-content class="ion-padding">
  <div class="flex">
    <div class="img-flex">
      <img src="../../../assets/icon/logo1.png"/>
    </div>
    <div>

      <ion-item fill="outline">
        <ion-label position="floating">Email Adrress</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <div class="margin"></div>
      <ion-item fill="outline">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <div class="margin"></div>
      <ion-button class="btn-login">LOGIN</ion-button>
    </div>
    <!-- Forgot password -->
    <div class="forgot">
      <p>Forgot password?</p>
    </div>
    <!-- Footer signup link -->
    <div class="footer">
      Dont't have account? <span routerLink="/signup">SIGNUP</span>
    </div>
  </div>
</ion-content>
