<ion-content class="ion-padding">
  <div class="flex">
    <div class="img-flex">
      <img src="../../../assets/icon/">
    </div>
    <div>

      <ion-item fill="outline">
        <ion-label position="floating">Nome</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <div class="margin"></div>
      <ion-item fill="outline">
        <ion-label position="floating">Email Adrress</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <div class="margin"></div>
      <ion-item fill="outline">
        <ion-label position="floating">Contato</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <div class="margin"></div>
      <ion-item fill="outline">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <div class="margin"></div>
      <ion-item fill="outline">
        <ion-label position="floating">Confirm Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <div class="margin"></div>
      <ion-button class="btn-login">SIGNUP</ion-button>
    </div>
    

    <div class="footer">
      Already have account? <span routerLink="/login">SIGNIN</span>
    </div>
  </div>
</ion-content>
