<link rel="stylesheet" href="peeling.page.scss">
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/procedimentos" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Procedimentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Peeling Químico e Mecânico</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-img src="assets/images/peeling1.png" class="content-image"></ion-img>

  <ion-title class="page-title">Peeling Químico e Mecânico</ion-title>
  <br>
  <div class="text-container">
    <ion-text class="page-text">
      Enquanto no peeling químico o processo é feito com ácidos específicos, o peeling mecânico utiliza um processo de lixamento na pele para promover a renovação celular, ambos resultando em uma aparência mais jovem e saudável. Com o peeling é possível tratar diversos problemas de pele, como manchas, rugas e acne. Realize o peeling e obtenha uma pele rejuvenescida e radiante!
    </ion-text>
  </div>

  <ion-img src="assets/images/peeling2.png" class="content-image"></ion-img>

</ion-content>

//Fim.