<link rel="stylesheet" href="drenagemlinfatica.page.scss">
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/procedimentos" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Procedimentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Drenagem Linfática Manual</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-img src="assets/images/drenagemlinfatica1.png" class="content-image"></ion-img>

  <ion-title class="page-title">Drenagem Linfática Manual</ion-title>
  <br>
  <div class="text-container">
    <ion-text class="page-text">
      A drenagem linfática manual é uma técnica de massagem que auxilia na melhora da circulação linfática, ajudando a eliminar toxinas e reduzir o inchaço. É uma técnica suave e relaxante, que pode trazer benefícios para o sistema linfático e a saúde como um todo.
    </ion-text>
  </div>

  <ion-img src="assets/images/drenagemlinfatica2.png" class="content-image"></ion-img>

</ion-content>