<link rel="stylesheet" href="microagullhamento.page.scss">
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/procedimentos" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Procedimentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Microagulhamento</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-img src="assets/images/microagulhamento1.png" class="content-image"></ion-img>

  <ion-title class="page-title">Microagulhamento</ion-title>
  <br>
  <div class="text-container">
    <ion-text class="page-text">
      O microagulhamento é um tratamento estético que utiliza um pequeno rolo com microagulhas para perfurar a pele, estimulando a produção de colágeno e melhorando a aparência da pele. Essa técnica é eficaz para tratar cicatrizes, rugas, manchas e até mesmo estimular o crescimento capilar. Experimente o microagulhamento e conquiste uma pele rejuvenescida e saudável!
    </ion-text>
  </div>

  <ion-img src="assets/images/microagulhamento2.png" class="content-image"></ion-img>

</ion-content>
