<link rel="stylesheet" href="micropgmentacao.page.scss">
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/procedimentos" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Procedimentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="page-title">Micropigmentação de Sobrancelhas, Olhos e Lábios</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-img src="assets/images/micropgmentacao1.png" class="content-image"></ion-img>

  <ion-title class="page-title">Micropigmentação de Sobrancelhas, Olhos e Lábios</ion-title>
  
  <br>
  <div class="text-container">
    <ion-text class="page-text">
      A micropigmentação é uma técnica que consiste em implantar pigmentos na pele para realçar as sobrancelhas, os olhos ou os lábios. É uma opção ideal para quem deseja ter uma aparência mais definida e duradoura. Experimente a micropigmentação e destaque sua beleza natural!
    </ion-text>
  </div>

  <ion-img src="assets/images/micropgmentacao2.png" class="content-image"></ion-img>

</ion-content>
